<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="common-header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/css/loader.css}" rel="stylesheet"/>
<!--    <link type="text/css" th:href="@{/css/footer.css}" rel="stylesheet"/>-->
    <link type="text/css" th:href="@{/css/jquery-ui.theme.css}" rel="stylesheet"/>
<!--    <link type="text/css" th:href="@{/css/tabulator_semantic-ui.min.css}" rel="stylesheet"/>-->
    <link type="text/css" th:href="@{/css/toastr.min.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>

    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<!--    <script th:src="@{/js/libs/popper.min.js}"></script>-->
    <script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
<!--    <script th:src="@{/js/navigation.js}"></script>-->
    <script th:src="@{/js/util.js}"></script>
<!--    <script th:src="@{/js/libs/tabulator.min.js}"></script>-->
    <script th:src="@{/js/toastr.js}"></script>
<!--    <script th:src="@{/js/libs/bootbox.min.js}"></script>-->
<!--    <script th:src="@{/js/libs/bootbox.locales.min.js}"></script>-->
<!--    <script th:src="@{/js/libs/jquery.validate.min.js}"></script>-->
<!--    <script th:src="@{/js/libs/localization/messages_ru.js}"></script>-->
<!--    <script th:src="@{/js/libs/chart.min.js}"></script>-->
<!--    <script th:src="@{/js/libs/chartjs-plugin-datalabels.min.js}"></script>-->
<!--    <script th:src="@{/js/libs/chartjs-plugin-zoom.min.js}"></script>-->
</th:block>
</body>
</html>