<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/header :: common-header"></div>
    <script th:src="@{/js/basket.js}"></script>
    <title th:text="#{title.basket}"></title>
</head>
<body>
<div th:replace="common/navigation::common-nav"/>

<div style="display: none">
    <select id="completeSelect" onchange="changeComplete(this)">
        <option th:each="comlete : ${comletes}"
                th:id="${comlete.getId()}"
                th:text="${comlete.getName()}"
                th:value="${comlete.getId()}"
                th:price="${comlete.getPrice()}"
                th:coef="${comlete.getCoef()}"
                th:descr="${comlete.getDescr()}"
                th:provider="${comlete.getProvider()}"
                th:unit="${comlete.getUnit()}"
        />
    </select>
</div>


<div class="container-fluid">

    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" th:text="#{btn.basket.export}"></button>
        <div class="dropdown-menu">
            <a class="dropdown-item" onclick="basketExport(1)" href="#" th:text="#{btn.basket.export.mlfb}"/>
            <a class="dropdown-item" onclick="basketExport(2)" href="#" th:text="#{btn.basket.export.mlfbdescr}"/>
            <a class="dropdown-item" onclick="basketExport(3)" href="#" th:text="#{btn.basket.export.tkp}"/>
            <a class="dropdown-item" onclick="basketExport(4)" href="#" th:text="#{btn.basket.export.mlfbindustry}"/>
            <a class="dropdown-item" onclick="basketExport(5)" href="#" th:text="#{btn.basket.export.specification}"/>
        </div>
    </div>
    <button type="button" class="btn btn-primary" th:text="#{btn.basket.setting}"></button>
    <button type="button" class="btn btn-primary" th:text="#{btn.basket.send}"></button>

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col" th:text="#{btn.basket.numb}"></th>
            <th scope="col" th:text="#{btn.basket.name}"></th>
            <th scope="col" th:text="#{btn.basket.descr}"></th>
            <th scope="col" th:text="#{btn.basket.price}"></th>
            <th scope="col" th:text="#{btn.basket.count}"></th>
            <th scope="col" th:text="#{btn.basket.cost}"></th>
            <th scope="col" th:text="#{btn.basket.coef}"></th>
            <th scope="col" th:text="#{btn.basket.totalprice}"></th>
            <th scope="col" th:text="#{btn.basket.totalcost}"></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="sensor : ${sensorfull}">
            <tr th:id="'rowsensor'+${sensorStat.index+1}">
                <td>
                    <button class="btn btn-default" th:onclick="'removeSensor('+${sensorStat.index+1}+')'">
                        <img th:src="@{/css/images/bi-trash.svg}"></img>
                    </button>
                </td>

                <th scope="row" th:id="'boxnumber'+${sensorStat.index+1}" th:text="${sensorStat.index+1}"></th>
                <td th:id="'boxmlfbrus'+${sensorStat.index+1}" th:text="${sensor.getRusmlfb()}"></td>
                <td style="display: none" th:id="'boxmlfb'+${sensorStat.index+1}" th:text="${sensor.getMlfb()}"></td>
                <td th:id="'boxdescr'+${sensorStat.index+1}"
                    th:utext="${sensor.getRusmlfb()} + '<br/>' + ${sensor.getDescr()}"></td>
                <td th:id="'boxprice'+${sensorStat.index+1}" th:text="${sensor.getPrice()}"></td>
                <td><input th:id="'boxcount'+${sensorStat.index+1}" value="1" class="basketinput"/></td>
                <td th:id="'boxpricecount'+${sensorStat.index+1}"></td>
                <td><input th:id="'boxcoef'+${sensorStat.index+1}" value="1.2" class="basketinput"/></td>
                <td th:id="'boxpricecoef'+${sensorStat.index+1}"></td>
                <td th:id="'boxpricetotal'+${sensorStat.index+1}"></td>
            </tr>
            <tr th:id="'rowсompletename'+${sensorStat.index+1}">
                <td></td>
                <td>
                    <button type="button" class="btn btn-dark btn-sm" th:text="#{btn.basket.additional.add}"
                            th:onclick="'addComplete('+${sensorStat.index+1}+')'"></button>
                </td>
                <td>В комплекте:</td>
            </tr>
            <tr th:id="'rowtotal'+${sensorStat.index+1}">
                <td th:id="'boxtotalname'+${sensorStat.index+1}" colspan="8" th:text="#{btn.basket.total}"
                    class="text-right font-weight-bold"></td>
                <td th:id="'boxtotalpricecoef'+${sensorStat.index+1}" class="font-weight-bold"></td>
                <td th:id="'boxtotalpricetotal'+${sensorStat.index+1}" class="font-weight-bold"></td>
            </tr>
        </th:block>
        </tbody>

    </table>
</div>
</body>
</html>