<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/header :: common-header"></div>
    <script th:src="@{/js/configurator.js}"></script>
    <title th:text="#{title.conf}"></title>
</head>
<body>
<div th:replace="common/navigation::common-nav"/>

<div class="container-fluid">

    <h5 th:text="${sensor.getName()}"/>
    <ul class="nav nav-tabs">
        <!-- Первая вкладка (активная) -->
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#main" id="limain" th:text="#{conf.navbar.main}"></a>
        </li>
        <!-- Вторая вкладка -->
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#option" id="lioption" th:text="#{conf.navbar.option}"></a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="main">
            <div id="MLFBdiv">
                <form id="mlfbForm" action="" method="post">
                    <table class="table table-striped">
                        <tr th:each="item: ${selections}">
                            <td th:if="${item.isMain()}">
                        <span th:switch="${item.getSelectType()}" class="float-left mr-sm-2">
                          <img th:case="0" th:src="@{/css/images/question_orange.gif}"></img>
                          <img th:case="1" th:src="@{/css/images/check_green.gif}"></img>
                          <img th:case="2" th:src="@{/css/images/fail_red.gif}"></img>
                        </span>

                                <span th:id="'spanGroup'+${item.getGroup()}" th:text="${item.getName()}" class="h5 cursorpointer"
                                      th:data-parameter1="${item.getGroup()}"
                                      th:onclick="jumpNextGroup(0,this.getAttribute('data-parameter1'), 0)">
                                </span>

                                <div th:style="${item.getSelectType()!=0 ? 'display:block' : 'display:none'}">
                                <span style="display:inline-block" class="ml-5 h6"
                                      th:text="${item.getCurrentSelect() !=null} ? ${item.getCurrentSelect().getName()} + '-'+${item.getCurrentSelect().getDescr()} : ''">
                                </span>
                                    <img style="display:inline-block" class="cursorpointer"
                                         th:src="@{/css/images/icons8-delete-8.png}"
                                         th:data-parameter1="${item.getCurrentSelect() !=null} ? ${item.getCurrentSelect().getName()} : ''"
                                         th:data-parameter2="${item.getGroup()}"
                                         th:onclick="removeGroupOption(this.getAttribute('data-parameter2'), this.getAttribute('data-parameter1'))"
                                    ></img>
                                </div>
                                <div th:id="${item.getId()}"
                                     th:style="${item.isDisplay() ? 'display:block' : 'display:none'}">
                                    <ul>
                                        <li th:each="option: ${item.getSelectOption()}"
                                            th:class="${option.isPossible()}? 'enabledinput':'disabledinput' ">
                                            <input type="radio" th:id="'radio'+${option.getId()}"
                                                   th:name="'radio'+${option.getGroup()}"
                                                   th:checked="${option.isSelected()}"
                                                   th:disabled="${option.isPossible()}?false:true"
                                                   th:data-parameter1="${option.getName()}"
                                                   th:data-parameter2="${option.getGroup()}"
                                                   th:onclick="jumpNextGroup(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'), 1)"
                                            />
                                            <label th:for="'radio'+${option.getId()}"
                                                   th:text="${option.getName()} + '-' + ${option.getDescr()}"
                                                   th:class="${option.isPossible()}? 'cursorpointer':'' "></label>

                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="option">
            <div id="MLFBdivoption">
                <table class="table table-striped">
                    <tr th:each="item: ${selections}">
                        <td th:if="${!item.isMain()}">
                        <span th:switch="${item.getSelectType()}" class="float-left mr-sm-2">
                          <img th:case="0" th:src="@{/css/images/question_orange.gif}"></img>
                          <img th:case="1" th:src="@{/css/images/check_green.gif}"></img>
                          <img th:case="2" th:src="@{/css/images/fail_red.gif}"></img>
                        </span>

                            <span th:id="'spanGroup'+${item.getGroup()}" th:text="${item.getName()}" class="h5 cursorpointer"
                                  th:data-parameter1="${item.getGroup()}"
                                  th:onclick="jumpNextGroup(0,this.getAttribute('data-parameter1'), 0)">
                                </span>

                            <div th:style="${item.getSelectType()!=0 ? 'display:block' : 'display:none'}">
                                <span style="display:inline-block" class="ml-5 h6"
                                      th:text="${item.getCurrentSelect() !=null} ? ${item.getCurrentSelect().getName()} + '-'+${item.getCurrentSelect().getDescr()} : ''">
                                </span>
                                <img style="display:inline-block" class="cursorpointer"
                                     th:src="@{/css/images/icons8-delete-8.png}"
                                     th:data-parameter1="${item.getCurrentSelect() !=null} ? ${item.getCurrentSelect().getName()} : ''"
                                     th:data-parameter2="${item.getGroup()}"
                                     th:onclick="removeGroupOption(this.getAttribute('data-parameter2'), this.getAttribute('data-parameter1'))"
                                ></img>
                            </div>
                            <div th:id="${item.getId()}"
                                 th:style="${item.isDisplay() ? 'display:block' : 'display:none'}">
                                <ul>
                                    <li th:each="option: ${item.getSelectOption()}"
                                        th:class="${option.isPossible()}? 'enabledinput':'disabledinput'">
                                        <input type="radio" th:id="'radio'+${option.getId()}"
                                               th:name="'radio'+${option.getGroup()}"
                                               th:checked="${option.isSelected()}"
                                               th:disabled="${option.isPossible()}?false:true"
                                               th:data-parameter1="${option.getName()}"
                                               th:data-parameter2="${option.getGroup()}"
                                               th:onclick="jumpNextGroup(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'), 1)"
                                        />
                                        <label th:for="'radio'+${option.getId()}"
                                               th:text="${option.getName()} + '-' + ${option.getDescr()}"
                                               th:class="${option.isPossible()}? 'cursorpointer':'' "></label>
                                        <div th:switch="${option.getName()}">
                                            <input th:case="Y15" id="Y15input" type="text" maxlength="15"
                                                   th:value="${option.getOptionParam()!=null} ? ${option.getOptionParam().getValueWithoutCaption()} : ''"/>
                                            <input th:case="Y16" id="Y16input" type="text" maxlength="16"
                                                   th:value="${option.getOptionParam()!=null} ? ${option.getOptionParam().getValueWithoutCaption()} : ''"/>
                                            <div th:case="Y21">
                                                <select id="Y21select">
                                                    <option th:each="unit, iState : ${units}"
                                                            th:value="'Y21option'+${iState.index}" th:text="${unit}"
                                                            th:selected="(${option.getOptionParam()!=null && option.getOptionParam().getParam1()!=null && option.getOptionParam().getParam1().equalsIgnoreCase(unit)})">
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:case="Y01">
                                                <input type="number" id="Y01number1"
                                                       th:value="${option.getOptionParam()!=null} ? ${option.getOptionParam().getParam1()} : ''"/>
                                                ...
                                                <input type="number" id="Y01number2"
                                                       th:value="${option.getOptionParam()!=null} ? ${option.getOptionParam().getParam2()} : ''"/>
                                                <select id="Y01select">
                                                    <!--                                                    <option th:each="unit, iState : ${units}" th:value="'Y01option'+${iState.index}" th:text="${unit}">-->
                                                    <option th:each="unit, iState : ${units}"
                                                            th:value="'Y01option'+${iState.index}" th:text="${unit}"
                                                            th:selected="(${option.getOptionParam()!=null && option.getOptionParam().getParam3()!=null && option.getOptionParam().getParam3().equalsIgnoreCase(unit)})">
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:case="Y02">
                                                <input type="number" id="Y02number1"
                                                       th:value="${option.getOptionParam()!=null} ? ${option.getOptionParam().getParam1()} : ''"/>
                                                ...
                                                <input type="number" id="Y02number2"
                                                       th:value="${option.getOptionParam()!=null} ? ${option.getOptionParam().getParam2()} : ''"/>
                                                <select id="Y02select">
                                                    <option th:each="unit, iState : ${units}"
                                                            th:value="'Y02option'+${iState.index}" th:text="${unit}"
                                                            th:selected="(${option.getOptionParam()!=null && option.getOptionParam().getParam3()!=null && option.getOptionParam().getParam3().equalsIgnoreCase(unit)})">
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:case="Y22">
                                                <input type="number" id="Y22number1" maxlength="8"
                                                       th:value="${option.getOptionParam()!=null} ? ${option.getOptionParam().getParam1()} : ''"/>
                                                ...
                                                <input type="number" id="Y22number2" maxlength="8"
                                                       th:value="${option.getOptionParam()!=null} ? ${option.getOptionParam().getParam2()} : ''"/>
                                                <select id="Y22select">
                                                    <option th:each="unit, iState : ${units}"
                                                            th:value="'Y22option'+${iState.index}" th:text="${unit}"
                                                            th:selected="(${option.getOptionParam()!=null && option.getOptionParam().getParam3()!=null && option.getOptionParam().getParam3().equalsIgnoreCase(unit)})">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br/>

    <div>
        <span class="mr-5 font-weight-bold">Номер заказа (MLFB)</span>
        <span th:each="item, iState: ${mlfb}">
            <span th:if="${iState.index < 5}" th:id="'lm' + (${iState.index + 1})" th:text="${item}"></span>
            <span th:unless="${iState.index < 5}">
                <a th:id="'lm' + (${iState.index + 1})" onclick="jumpNextGroup(0,this.id.substring(2), 0);">
                <span th:text="${item}" class="cursorpointer">.</span>
                </a>
            </span>
        </span>
        <br/>
        <span class="mr-5 font-weight-bold">B-строка</span>
        <span th:each="item, iState: ${mlfbB}">
            <span>
                <a th:id="'lb' + (${iState.index + 1})">
                <span th:text="${item}"></span>
                </a>
            </span>
            <span th:if="${iState.index + 1} != ${iState.size}">+</span>
        </span>
        <br/>
        <span class="mr-5 font-weight-bold">C-строка</span>
        <!--        <span id="mlfbC" th:text="${mlfbC}"></span>-->
        <span th:each="item, iState: ${mlfbC}">
            <span>
                <a th:id="'lc' + (${iState.index + 1})">
                <span th:text="${item}" ></span>
                </a>
            </span>
            <span th:if="${iState.index + 1} != ${iState.size}"> </span>
        </span>

    </div>

</div>
</body>
</html>