<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/header :: common-header"></div>
    <script th:src="@{/js/configurator.js}"></script>
    <title th:text="#{title.conf}"></title>
</head>
<body>
<div th:replace="common/navigation::common-nav"/>

<div class="container-fluid">
    <span th:text="#{conf.select}"></span>

    <table class="table table-striped w-50" >
        <tr th:each="item: ${sensors}">
            <td class="px-0">
                <a th:href="'/configurator/'+${item.getId()}"><img width="100" height="100"
                                                                   th:src="@{/css/images/km35.png}"/></a>
                <br/>
                <a th:text="${item.getMlfbstandart()}" th:href="'/configurator/'+${item.getId()}"></a>
            </td>

            <td>
                <a th:text="${item.getName()}" th:href="'/configurator/'+${item.getId()}" class="font-weight-bold"></a>
                <br/>
                <span th:text="${item.getDescr()}"/>
            </td>
        </tr>
    </table>
</div>
<!--</form>-->

</body>
</html>